#![enable(implicit_some)]
(
	cores: Fixed(1),
	rate: List([0.1, 0.5, 1.0, 10.0, 50.0, 100.0]),
	upcall_percent: Fixed(0.5),
	upcall_timeout: Fixed(1),
	dut_machines: ["rpi"],
	dplanes: [
		(name: "kxdp", dplane: Trusded("../examples/01-macswap-xdp")),
	],
	// TEMP measure while doing preliminary measurements.
	// iterations: 10,
	iterations: 3,
)