#![enable(implicit_some)]
(
	dut_machines: ["nuc"],
	dplanes: [
		(name: "kxdp", dplane: Trusded("../examples/01-macswap-xdp")),
		(name: "uxdp", dplane: Trusded("../examples/05-upcall")),
	],
	rate: List([0.1, 0.5, 1.0, 10.0, 50.0, 100.0, 1000.0]),

	prototype_path: "bases/base-full.ron",
)