paper.pdf
paper-camera.pdf
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.cb
*.cb2
*.glg
*.glo
*.gls
*.ist
*.loa
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.fdb_latexmk
_minted-paper
_minted-paper-camera
